<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="AutomationPractice.test.TestHomePage"/>
      <class name="AutomationPractice.test.TestRegistration"/>
      <class name="AutomationPractice.test.TestSignIn"/>
      <class name="AutomationPractice.test.TestSummerDresses"/>
      <class name="AutomationPractice.test.TestMenu"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
